{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>500 - Internal Error</title>
  <link rel="stylesheet" href="{% static 'css/500.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="{% static 'css/font.css' %}" rel="stylesheet">
<body class="loading">
  <h1>500</h1>
  <h2>Unexpected Error <b>:(</b></h2>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
{#  <script src="js/main.js" type="text/javascript"></script>#}
</body>
<!-- partial -->
  <script  src="{% static 'js/500.js' %}"></script>

</body>
</html>
